<% provide(:title, @article.title) %>
<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>正文:</strong>
  <%= @article.text %>
</p>

<h2>评论区</h2>
<%= render @article.comments %>

<h2>添加评论:</h2>
<%= render 'comments/form' %>


<% if !current_user.nil? && current_user.admin? %>
  <%= link_to '只有管理员才能编辑帖子', edit_article_path(@article), class: "btn btn-lg btn-primary"%>
  <br><br>
  <%= link_to '只有管理员才能删帖', article_path(@article), method: :delete, class: "btn btn-lg btn-danger", data: {confirm: '确定删除?'} %>
  <br>
<% end %>
<br>
<%= link_to '回到匿名灌水区',articles_path, class: "btn btn-lg btn-success"%>
